body {
    font-family: "Winky Rough", cursive;
    margin: 0;
    padding: 0;
}

/*add color and background style*/

:root {
  --primary-color: #224488;
  --fallback-color: navy;
}

header {
  background-color: var(--primary-color, var(--fallback-color));
  color: white;
  padding: 1rem;
}

section#about {
  background-color: lightblue;
}

/* add spacing */

section {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 1em 2em;
}

main {
  margin: auto;
  max-width: 1000px;
}

/* Styling borders and radius */

fieldset {
  border-style: solid;
  border-width: 2px;
  border-color: #666;
  border-radius: 10px;
  padding: 2rem;
}

/* Applying flexbox layout */

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

/* Creating grid layout for projects list*/

section#projects ol {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  place-items: start;
}
  

/* Add responsive styles with medai queries */

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }

  nav {
    flex-direction: column;
    align-items: center;
  }
}


/* Add somethings missed */

footer {
  background-color: rgb(30, 30, 30);
  color: #FFF;
}

h2 {
  text-align: center;
  text-decoration: underline;
}

button:hover {
  background-color: orange;
}


/* Selectors showcase */
* {
  box-sizing: border-box;
}

input[type="text"]:hover {
  border-color: red;
}

section > h2 {
  color: navy;
}

h1, h2 {
  font-weight: 600;
}

form:has(button:hover) {
  border-color: green;
}

h2 + p {
  font-style: italic;
}

input[type="radio"]:checked ~ label {
  font-weight: bold;
}

img {
  position: relative;
}

